
//Fuentes

$fuente_principal:'Roboto', sans-serif;
$fuente_secundaria:'Montserrat', sans-serif;

//Colores
$azul:#39a;
$verde:#16a178;
$bordo:#7f2533;
$bordo1:#1a6565;
$rosa:#a12a51;
$gris:#344;
$oscuro:#122;
$hover:#49a;
$negro:#000;
$blanco:#fff;


//Media querys
$movile:480px;
$tablet:768px;
$desktop:992px;
